<div class="hero overlay" style="background-image: url('assets/images/bg_3.jpg')">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-5 ml-auto">
                <h1 class="text-white">Weather</h1>
            </div>
        </div>
    </div>
</div>

<div class="site-section">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <form [formGroup]="weatherForm">
                    <div class="form-group">
                        <input type="text" formControlName="city" class="form-control" placeholder="Insert City..." />
                    </div>
                    <div *ngIf="
              weatherForm.controls['city'].invalid &&
              (weatherForm.controls['city'].touched ||
                weatherForm.controls['city'].dirty)
            ">
                        <div *ngIf="weatherForm.controls['city'].errors?.['required']">
                            City is required
                        </div>

                    </div>

                    <div class="form-group">
                        <input type="submit" (click)="search()" class="btn btn-primary py-3 px-5" value="Search Weather" />
                    </div>
                </form>
                <p>Temp : {{apiResult.temp}}</p>
                <p>Pressure : {{apiResult.pressure}}</p>
                <p>Wind Speed : {{apiResult.speed}}</p>
                <p><img [src]="apiResult.image" alt=""></p>
            </div>
        </div>
    </div>
</div>