<table class="table">
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>NBR</th>
        <th>Position</th>
        <th>Age</th>
        <th>Actions</th>
    </tr>
    <tr *ngFor="let p of playersTab">
        <td>{{p.id}}</td>
        <td>{{p.name}}</td>
        <td>{{p.nbr}}</td>
        <td>{{p.position}}</td>
        <td>{{p.age}}</td>
        <td>
            <button class="btn btn-success">Display</button>
            <button class="btn btn-warning">Edit</button>
            <button class="btn btn-danger">Delete</button>
        </td>
    </tr>
</table>