<table class="table">
    <tr>
        <th>ID</th>
        <th>Score One</th>
        <th>Score Two</th>
        <th>Team One</th>
        <th>Team Two</th>
        <th>Actions</th>
    </tr>
    <tr *ngFor="let match of matchesTab">
        <td>{{ match._id }}</td>
        <td>{{ match.scoreOne }}</td>
        <td>{{ match.scoreTwo }}</td>
        <td [ngClass]="{
        win: match.scoreOne > match.scoreTwo,
        loss: match.scoreOne < match.scoreTwo,
        draw: match.scoreOne == match.scoreTwo
      }">
            {{ match.teamOne | asterix }}
        </td>
        <td>{{ match.teamTwo | reverse }}</td>
        <td>
            <button class="btn btn-success" (click)="goToInfo(match._id)">
        Display
      </button>
            <button class="btn btn-warning" (click)="goToEdit(match._id)">Edit</button>
            <button class="btn btn-danger" (click)="deleteMatch(match._id)">Delete</button>
        </td>
    </tr>
</table>